<panel state="views.middle" position="middle" ng-click="resetViews()">
    <h1>ML</h1>
    <h4>web developer</h4>
</panel>
<panel state="views.top" position="top">
  <h1>about</h1>
</panel>
<panel state="views.bottom" position="bottom">
  <h1>contact</h1>
</panel>
<panel state="views.left" position="left" ng-click="switchView('left')">
  <div ng-switch on="views.left">
    <aside ng-switch-when="panel">
      <h1>projects</h1>
    </aside>
    <list ng-switch-when="list" items='projects' property='name' height='height'></list>
    <div class="two-thirds" ng-switch-when="content">
      <iframe frameborder="0" src="http://localhost:8081/"></iframe>
    </div>
  </div>
</panel>
<panel state="views.right" position="right" ng-click="switchView('right')">
  <div ng-switch on="views.right">
    <aside ng-switch-when="panel">
      <h1>pursuits</h1>
    </aside>
    <list ng-switch-when="list" items='photoSets' height='height'></list>
    <div class="two-thirds" ng-switch-when="content">
      <iframe frameborder="0" width="100%" height="height" src="http://localhost:8081/"></iframe>
    </div>
  </div>
</panel>
